<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">

  <head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-99J15QH2Y4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-99J15QH2Y4');
</script>

    
    {% include head.html %}
    <script type="text/javascript" src="https://steadyhq.com/widget_loader/9aee0a6b-ef50-4f13-b33f-b235b869eacc"></script>
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          {{ content }}
          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
